@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  position: absolute;
  width: 256.96px;
  height: 108px;
  left: calc(50% - 256.96px / 2 + 0.48px);
  top: 84px;
}

.id {
  position: absolute;
  width: 58px;
  height: 25px;
  left: 499px;
  top: 255px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 41px;
  text-align: center;

  color: #666378;
}

.inputID {
  position: absolute;
  width: 390px;
  height: 39px;
  left: 599px;
  top: 255px;

  font-size: 20px;
}

.line1 {
  position: absolute;
  width: 550px;
  height: 0px;
  left: calc(50% - 550px / 2);
  top: 290px;

  border: 2.5px solid #ffc4d6;
}

.pw {
  position: absolute;
  width: 78px;
  height: 25px;
  left: 499px;
  top: 357px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 41px;
  text-align: center;

  color: #666378;
}

.inputPW {
  position: absolute;
  width: 390px;
  height: 39px;
  left: 599px;
  top: 357px;

  font-size: 20;
}

.line2 {
  position: absolute;
  width: 550px;
  height: 0px;
  left: calc(50% - 550px / 2);
  top: 393px;

  border: 2.5px solid #bbf3ff;
}

input {
  border: none;
}

.btnlogin {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  text-align: center;
  color: #666378;

  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px / 2);
  top: 457px;

  background: #f0f0f0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.join {
  position: absolute;
  width: 191px;
  height: 24px;
  left: 496px;
  top: 527px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #666378;
}

a {
  position: absolute;
  width: 67px;
  height: 22px;
  left: calc(50% - 74px / 2 - 39.5px);
  top: 527px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: none;

  color: #0038ff;
}
