@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  position: absolute;
  width: 256.96px;
  height: 108px;
  left: calc(50% - 256.96px / 2 + 0.48px);
  top: 84px;
}

.id {
  position: absolute;
  width: 58px;
  height: 25px;
  left: 498px;
  top: 250px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #666378;
}

.inputRegID {
  box-sizing: border-box;

  position: absolute;
  width: 306px;
  height: 39px;
  left: 631px;
  top: 242px;
  border: none;

  font-size: 20px;
}

.line1 {
  position: absolute;
  width: 548px;
  height: 0px;
  left: calc(50% - 548px / 2);
  top: 277px;

  border: 2.5px solid #ffc4d6;
}

.pw {
  position: absolute;
  width: 78px;
  height: 25px;
  left: 498px;
  top: 345px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #666378;
}

.inputRegPW {
  box-sizing: border-box;

  position: absolute;
  width: 306px;
  height: 39px;
  left: 631px;
  top: 337px;
  border: none;

  font-size: 20px;
}

.line2 {
  position: absolute;
  width: 548px;
  height: 0px;
  left: calc(50% - 548px / 2);
  top: 372px;

  border: 2.5px solid #bbf3ff;
}

.pw2 {
  position: absolute;
  width: 122px;
  height: 25px;
  left: 498px;
  top: 443px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #666378;
}

.repeat {
  box-sizing: border-box;

  position: absolute;
  width: 306px;
  height: 39px;
  left: 631px;
  top: 435px;
  border: none;

  font-size: 20px;
}

.line3 {
  position: absolute;
  width: 548px;
  height: 0px;
  left: calc(50% - 548px / 2);
  top: 470px;

  border: 2.5px solid #bbf3ff;
}

.pwError {
  position: absolute;
  width: 205px;
  height: 19px;
  left: 498px;
  top: 485px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #d20000;
}

.check-ID-dup {
  position: absolute;
  width: 100px;
  height: 42px;
  left: 943px;
  top: 240px;

  background: #ffc4d6;
  border-radius: 5px;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #666378;
  cursor: pointer;
}

.btnTryReg {
  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px / 2 + 2.5px);
  top: 531px;

  background: #f0f0f0;
  border-radius: 5px;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #666378;
  cursor: pointer;
}
