{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    {% if user.is_authenticated %}
    <div>{{ user.username }}</div>
    <a href="{% url 'logout' %}">로그아웃</a>
{% endif %} 

<!-- list_work 전체 보기-->
<div id="list-and-work">
    {% for list in lists %}
        {% if list.user == request.user %}
            <div>
                <p>{{ list.listname }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- 새로운 list 추가, 등록 버튼 -->
<button id="add-list-button">+</button>
    
<div id="form-container" style="display: none;">
    {% csrf_token %}
    <input type="text" id="new_list_listname">
    <button id="save-list-button">Save</button>
</div>

<script src="{% static 'js/list-and-work.js' %}"></script>
{% endblock %}
